@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap&family=Barlow&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
  }
  ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgba(0,0,0,.2);
  }::-webkit-scrollbar-track {
  background: hsla(0,0%,100%,.1);
  }

html,body,#root{
  height: 100%;
}
.w-fill-available{
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}
.sidebar-enter {
  opacity: 0;
  transform: translateX(100%);
}
.sidebar-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms;
}
.sidebar-exit {
  opacity: 1;
  transform: translateX(0%);
}
.sidebar-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 300ms;
}